/* file: tmdb_api.css */
body {
  background-color: black;
}
.container {
  background-color: black;
}
h4#mytitle {
  text-align: center;
}
div.movie-title {
  text-align: center;
  height: 40px;
}
div.movie-poster {
  width: 100%;
  height: 300px;
  background-color: white;
  margin: 0px auto 0px auto;
  background: gray;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}
div.movie-poster img {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
div.movie-poster:hover {
  border: 3px solid rgb(51, 0, 111);
}
footer {
  text-align: center;
  color: white;
}
